[DEFAULT]
sample_size = 40
mutation_rate = 0.5
header = exp_test/

master_log = %(base)s/%(header)smaster
feature_log = %(base)s/%(header)sfeatures
evasion_log = %(base)s/%(header)sevasive

[Marvin]
base = gp
model = Marvin/models/model_all_liblinear-L2
benign_pool_file = seeds/marvin/training_all.benign
featurenames_file = Marvin/features/featurenames
sample_restrict = A

[CNN]
base = gp_cnn
eval_dir = deep-android/eval/
